{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% if attr is not defined %}{% set attr = {} %}{% endif %}
{% spaceless %}
<div class="control-group{% if errors|length > 0 %} error{% endif %} {{ form_row_classes(types) }}">
    {{ form_label(form, null, {'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form, {'attr': attr}) }}
        {{ block('field_help') }}
        {{ form_errors(form) }}
    </div>
</div>
{% endspaceless %}
{% endblock field_row %}

{% block repeated_row %}
    {% spaceless %}
        <div class="control-group{% if errors|length > 0 %} error{% endif %}">
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
            <div class="controls">
                {{ block('field_help') }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock repeated_row %}

{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p class="help-block">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}

{% block email_widget %}
    {% spaceless %}
        {% set type = type|default('email') %}
        <div class="input-prepend">
            <span class="add-on">@</span>{{ block('field_widget') }}
        </div>
    {% endspaceless %}
{% endblock email_widget %}

{% block checkbox_row %}
    {% spaceless %}
    <div class="control-group{% if errors|length > 0 %} error{% endif %} {{ form_row_classes(types) }}">
        {% set attr = attr|merge({'class': attr.class|default('checkbox')}) %}
        {% if required %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
        {% endif %}
        <div class="controls">
            <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ form_widget(form) }}
                {{ label|trans|raw }}
            </label>
            {{ block('field_help') }}
            {{ form_errors(form) }}
        </div>
    </div>
    {% endspaceless %}
{% endblock %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% set extra_class = multiple ? 'checkbox' : 'radio' %}
                {% set attr = attr|merge({'class': attr.class|default(extra_class)}) %}
                {% for child in form %}
                    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                        {{ form_widget(child) }}
                        {{ child.get('label')|trans|raw }}
                    </label>
                {% endfor %}
            </div>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block field_help %}
    {% if help_block is defined %}
        <p class="help-block">{{ help_block }}</p>
    {% elseif help_inline is defined %}
        <span class="help-inline">{{ help_inline }}</span>
    {% endif %}
{% endblock field_help %}

{% block snowcap_core_image_widget %}
    {% if web_path is not null and form.parent.vars.value is not empty %}
        {% set image_src = attribute(form.parent.vars.value, web_path) %}
        {% if image_src is not null %}
            <img src="{{ image_src|imresize('admin_thumb') }}"/>
        {% endif %}
    {% endif %}
    {{ block('field_widget') }}
{% endblock %}

{% block snowcap_core_video_widget %}
    {% if video_id is not null and form.parent.vars.value is not empty %}
    {% set video_id_value = attribute(form.parent.vars.value, video_id) %}
        {% if provider == 'youtube' %}
            <iframe width="420" height="315" src="http://www.youtube.com/embed/{{ video_id_value }}" frameborder="0" allowfullscreen></iframe>
            <br/>
        {% endif %}
    {% endif %}
    {{ block('field_widget') }}
{% endblock %}

{% block snowcap_core_file_widget %}
    {{ block('field_widget') }}
    {% if web_path is not null and form.parent.vars.value is not empty %}
        {% set url = attribute(form.parent.vars.value, web_path) %}
        {% if url is not null %}
            <a class="btn" href="{{ asset(url) }}">Download file</a>
        {% endif %}
    {% endif %}
{% endblock %}